@import "../../common";

.searchBarContainer {
  position: relative;
  padding-bottom: 20px;
  .input {
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  .icon {
    position: absolute;
    top: 20px;
    right: 0px;
  }
}
